@import url('https://fonts.googleapis.com/css?family=Rammetto+One');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Rammetto+One');

body {

  background-image: url("../images/climbing.jpg");

	background-size: cover;
  text-align: right;
}

#slogan {
	color:white;
  word-spacing: 0.2em;
	font-size: 39px;
  font-family: 'Amatic SC', cursive;
}

h1{
	color:yellow;
  font-family: 'Rammetto One', cursive;
  font-weight: 100;
}
