#wrapper {
  background-color: yellow;
}

#header-container {
  background-color: green;
}

#logo {
  background-color: blue;
}

.nav-drop{
  background-color: orange;
}

#main {
  background-color: purple;
}

#footer {
  background-color:red;
}
